doctype html
html
  head
    title Space Game
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(bgcolor='eeeeee')
    a(href='/') Home
    |  - 
    a(href='/play') Play
    |  - 
    a(href='/leaderboard') Leaderboard
    |  - 
    - if(username)
      a(href='/users/#{username}') My Account
      |  - 
      a(href='/logout') Logout
      p Welcome, #{username}
    - else
      a(href='/login') Login
    block content
