extends layout

block content
  h1 Leaderboard
  table(border=1, cellpadding=10)
    thead
      tr
        td(align='center')
          b User
        td(align='center') 
          b Wins
        td(align='center') 
          b Losses
    tbody
      each player, i in players
        tr
          td(align='center')= player.username
          td(align='center')= player.wins
          td(align='center')= player.losses

